h1{
    display: none;
}
.banner img{
    max-width:100%;
}
.nav1{
    float: right;
}
.l_menu li{
    display: inline;
    margin: 0 10px;
}
.l_menu li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.f_work{
    background-color: lightskyblue;
}
.f_team{
    background-color:  #F28580;
}
.f_news{
    background-color: rgb(245, 220, 81);
}
.f_clients{
    background-color: #CA8FE1;
}
.f_idea{
    background-color: rgb(64, 65, 95);
}
footer{
    background-color: rgb(80, 75, 110);
}
img{
    max-width: 100%;
}
section{
    padding: 50px 0;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.services article{
    margin: 10px 1%;
    display:inline-block;
    width: 30%;
}
.services article img{
    width: 50%;
    border-radius: 50%;
}
.services article h2{
   font-size: 17px;
}

.img_work li{
    list-style: none;
    display: inline;
}
.img_work li img{
    width: 30%;
    margin: 10px 10px 10px 10px;
}

.team article{
    margin: 10px 1%;
    display:inline-block;
    width: 30%;
}
.team article img{
    width: 50%;
    border-radius: 50%;
}
.team article h3{
   font-size: 17px;
}
.team ul li{
    display: inline-block;
    width: 30%;
}

.news article{
    vertical-align: top;
    display: inline-block;
    width: 300px;
    margin: auto;
}



.clients ul{
    margin: 0 auto;
    padding: 0px;
}
.clients li{
    display: inline-block;
    width: 168px;
    margin: 0 10px;  
}

.idea a{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #ff7788;
    border: 2px solid #ff7799;
}


.l_contact{
text-align: left;
}
.l_redes_f li{
    display: inline-block;
    
    
}
.l_redes_f img{
    border-radius: 50%;
}
