.cont{
    border:2px solid red ;
    width:40.4vw;
    height:83vh;
  }
*{
    
}
/*.cont .c1,.c2,.c3,.c4,.c11,.c7,.c8,.c12,.c13,.c14,.c15,.c16{
    
    display: inline-block;
    border: 1px solid red ;
    width: 10vw;
    height: 20vh;
}
.cont .c5 ,.c6 ,.c9 ,.c10{
    
    display: inline-block;
    width: 10.1vw;
    height: 20vh;
}
*/
.cont1,.cont2{
    margin: 0;
    display: inline-block;
    width: 20vw;
    height: 82vh;
}
.c1, .c2{
    display: inline-block;
    background: red ;
    width: 9.7vw;
    height: 20vh;
}
.cgrande{
    display: inline-block;
    background: red ;
    width: 19.8vw;
    height: 40.9vh;
}
.c4 ,.c5{
    display: inline-block;
    background: red ;
    width: 9.7vw;
    height: 20vh;
}


.c6,.c7,.c8,.c9,.c10,.c11, .c12,.c13{
    display: inline-block;
    background: red ;
    width: 9.7vw;
    height: 20vh;
}