body{
    font-size: 15px;
}
.um_absolutas .px{
    font-size: 45px;
}
.um_absolutas .cm{
    font-size: 1.2cm;
}
.um_absolutas .punto{
    font-size: 34pt;
}
.um_relativa .em{
    font-size: 3em;
}
.um_relativa .rem{
    font-size: 2.8rem;
}
.um_relativa2 .vw{
    font-size: 6.8vw;
}
.um_relativa2 .vh{
    font-size: 7.2vh;
}
/*------------------------------------*/

.cont{}