*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
}
body{
    min-height: 100vh;
    background-color: #ececec;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.menu,
.submenu{
    background: #F05351;
}
.menu li a{
    color: white;
}

.submenu-container{
    position: relative;
}
.menu li{
    display: block;
    padding: 16px;
    transition-duration: 1s;
}
.menu li:hover{
    background: #16415E;
    cursor: pointer;
}
.submenu{
    display:none;
    min-width: 100px;
    position: absolute;
    margin-top: 16px;
    left: -300px ;
   
}
.menu li:hover > .submenu{
    display: flex;
}
.zapatilla_img{
    max-width: 200px;
}

